.App {
  text-align: center;
}

.App-header {
  position: relative;
  padding: 80px 0;
  height: 32rem;
  color: white;
}

.App-header--background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  transform: skewY(-4deg);
  transform-origin: top left;
  background: #7755CC;
  z-index: -1;
}

.App-header--background, .App-header--background span {
  position: absolute;
}

.App-header--background span {
  width: 140px;
  height: 140px;
  background: black;
  opacity: 0.14;
}

.App-header--background :nth-child(1) {
  left: 0;
  opacity: 0.22;
}

.App-header--background :nth-child(2) {
  left: 140px;
}

.App-header--background :nth-child(3) {
  left: 0;
  top: 140px;
}

.App-header--background :nth-child(4) {
  bottom: 0;
  right: 0;
  opacity: 0.22;
}

.App-header--background :nth-child(5) {
  bottom: 0;
  right: 140px;
}

.App-header--background :nth-child(6) {
  right: 0;
  bottom: 140px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .App-header {
    height: 28rem;
  }

  .App-header--background span {
    height: 80px;
    width: 80px;
  }

  .App-header--background :nth-child(1) {
    left: 0;
  }

  .App-header--background :nth-child(2) {
    left: 80px;
  }

  .App-header--background :nth-child(3) {
    left: 0;
    top: 80px;
  }

  .App-header--background :nth-child(4) {
    bottom: 0;
    right: 0;
  }

  .App-header--background :nth-child(5) {
    bottom: 0;
    right: 80px;
  }

  .App-header--background :nth-child(6) {
    right: 0;
    bottom: 80px;
  }
}

.App-title {
  font-weight: 800;
  color: #FFFFFF;
  font-size: 70px;
  letter-spacing: -1px;
  line-height: 1.2;
  margin: 0;
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) {
  .App-title {
    font-size: 44px;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .App-title {
    font-size: 48px
  }

  .App-intro {
    font-size: 22px;
  }
}

.App-intro {
  opacity: 0.5;
  color: hsl(0, 0%, 100%);
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
  margin: 1.5em 0;
}

.App-intro-buttons {
  margin: 0 auto;
}

.App-intro-buttons .button {
  margin: 0 10px;
}

.button {
  padding: 1em 2em;
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 1.3;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.3);

  background: #7755CC;
  color: white;
  transition: all 0.3s;
}

.button--primary {
  background: white;
  color: #553399;
  border: 1px solid white;
}

.button:hover {
  transform: translate(0, -2px);
  box-shadow: 0 1px 5px #221144;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

#content {
  margin: 0 auto;
  max-width: 670px;
}

#content h2 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: normal;
}

#content h2 span {
  display: inline-block;
}

.Media {
  display: flex;
  align-items: flex-start;
  margin: 1.5em 0;
}

.Media-figure {
  margin-right: 1.5em;
}

.Media-figure svg {
  height: 52px;
  width: 52px;
}

.Media-body {
  flex: 1;
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .Media {
    flex-direction: column;
    align-items: center;
  }
  .Media-figure {
    margin: 1.5em 0;
  }
  .Media-figure svg {
    height: 80px;
    width: 80px;
  }

  .Media-body {
    margin: 0 1.5em;
    text-align: center;
  }
}

#footer {
  margin: 5rem 0;
  color: #bbb;
}

#footer p {
  margin: 0;
  font-size: 0.75rem;
}

#footer a {
  color: #b39ddb;
  text-decoration: none;
}
#footer a:hover,
#footer a:focus {
  text-decoration: none;
  color: #553399;
}
